
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>企业服务</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name='apple-touch-fullscreen' content='yes'>
        <meta name="full-screen" content="no">
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="format-detection" content="address=no" />
        <script src="__STATIC__/weixin/js/viewport.js"></script>
        <link href="__STATIC__/weixin/css/common.css" rel="stylesheet" />
        <script src="__STATIC__/weixin/js/jquery-1.10.2.min.js"></script>
        <script src="__STATIC__/weixin/js/common.js"></script>
    </head>
        <body>
    <div class="companyService">
        <h2><img src="__STATIC__/weixin/img/txt-qyfw.png"/></h2>

        <p class="logo"><img src="__STATIC__/weixin/img/logo.png"/></p>

        <h2><img src="__STATIC__/weixin/img/txt-qyfw.png"/></h2>
        <a href="{:U('Company/form')}" class="btn04">开始预约</a>
    </div>
    </body>
    
</html>