<extend name="Public/main" />

<block name="style">
	<script type="text/javascript">
		var catid = "12";
	</script>
	<style type="text/css">
		.col-auto {
			overflow: hidden;
			_zoom: 1;
			_float: left;
			border: 1px solid #c2d1d8;
		}
		.col-right {
			float: right;
			width: 210px;
			overflow: hidden;
			margin-left: 6px;
			border: 1px solid #c2d1d8;
		}

		body fieldset {
			border: 1px solid #D8D8D8;
			padding: 10px;
			background-color: #FFF;
		}
		body fieldset legend {
			background-color: #F9F9F9;
			border: 1px solid #D8D8D8;
			font-weight: 700;
			padding: 3px 8px;
		}
		.list-dot{ padding-bottom:10px}
		.list-dot li,.list-dot-othors li{padding:5px 0; border-bottom:1px dotted #c6dde0; font-family:"宋体"; color:#bbb; position:relative;_height:22px}
		.list-dot li span,.list-dot-othors li span{color:#004499}
		.list-dot li a.close span,.list-dot-othors li a.close span{display:none}
		.list-dot li a.close,.list-dot-othors li a.close{ background: url("__STATIC__/images/cross.png") no-repeat left 3px; display:block; width:16px; height:16px;position: absolute;outline:none;right:5px; bottom:5px}
		.list-dot li a.close:hover,.list-dot-othors li a.close:hover{background-position: left -46px}
		.list-dot-othors li{float:left;width:24%;overflow:hidden;}
	</style>
</block>

<block name="body">
	<div class="wrap J_check_wrap">
		<form name="myform" id="myform" action="{:U('City/edit')}" method="post" class="J_ajaxForm" enctype="multipart/form-data">
			<div class="col-right">
				<div class="table_full">
					<table width="100%">
						<tr>
							<td><b>封面图</b></td>
						</tr>
						<tr>
							<td>
								<div  style="text-align: center;"><input type='hidden' name='info[img_url]' id='thumb' value='{$info.img_url}'>
									<a href='javascript:void(0);' onclick="flashupload('thumb_images', '附件上传', 'thumb', thumb_images, '1,jpg|jpeg|gif|png|bmp,1,,,1', 'content', '12', 'b6ba209759e147124653ac77362ef2bd');
											return false;">
										<img src="{$info.img_url|default='__ROOT__/statics/images/icon/upload-pic.png'}" id='thumb_preview' width='135' height='113' style='cursor:hand' /></a>
									<input type="button"  class="btn" onclick="$('#thumb_preview').attr('src', '__STATIC__/images/icon/upload-pic.png');
											$('#thumb').val('');
											return false;" value="取消图片">
									<script type="text/javascript">
										function crop_cut_thumb(id) {
											if (id == '' || id == undefined) {
												isalert('请先上传缩略图！');
												return false;
											}
											var catid = $('input[name="info[catid]"]').val();
											if (catid == '') {
												isalert('请选择栏目ID！');
												return false;
											}
											Wind.use('artDialog', 'iframeTools', function() {
												art.dialog.open(GV.DIMAUB + 'index.php?a=public_imagescrop&m=Content&g=Contents&catid=' + catid + '&picurl=' + encodeURIComponent(id) + '&input=thumb&preview=thumb_preview', {
													title: '裁减图片',
													id: 'crop',
													ok: function() {
														var iframe = this.iframe.contentWindow;
														if (!iframe.document.body) {
															alert('iframe还没加载完毕呢');
															return false;
														}
														iframe.uploadfile();
														return false;
													},
													cancel: true
												});
											});
										}
										;
									</script></div>
							</td>
						</tr>

					</table>
				</div>
			</div>
			<div class="col-auto">
				<div class="h_a">城市内容</div>
				<div class="table_full">
					<table width="100%">
						<tr>
							<th width="80">城市名称</th>
							<td>
								<input type="text" style="width:400px;" name="info[city_name]" id="title" value="{$info.city_name}" style="color:" class="input input_hd J_title_color" placeholder="请输入城市名称" onkeyup="strlen_verify(this, 'title_len', 20)" />
								<span class="must_red">*</span>
							</td>
						</tr>
						<tr>
							<th width="80">城市说明</th>
							<td>
								<textarea name='info[remark]' id='description' style='width:78%;height:150px;'  >{$info.remark}</textarea>
								<span class="must_red">*</span>
							</td>
						</tr>
						<tr>
						    <th width="80">是否开通</th>
							<td>
								<span class="switch_list cc">
									<label><input type="radio" name="info[is_open]" value="1" <eq name="info.is_open" value="1">checked</eq> ><span>是</span></label>
									<label><input type="radio" name="info[is_open]" value="0" <eq name="info.is_open" value="0">checked</eq>  ><span>否</span></label>
								</span>
							</td>
						</tr>

						</tbody>
					</table>
				</div>
			</div>
			<div class="btn_wrap" style="z-index:999;text-align: center;">
				<div class="btn_wrap_pd">
					<input type="hidden" name="id" value="{$info.mc_id}" >
					<button class="btn btn_submit J_ajax_submit_btn"type="submit">提交</button>
					<!-- <button class="btn J_ajax_close_btn"type="submit">关闭</button> -->
				</div>
			</div>
		</form>
	</div>
</block>
<block name="script">
	<script type="text/javascript" src="__STATIC__/js/content_addtop.js{$js_debug}"></script>
	<script type="text/javascript">
									
	</script>
</block>