<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>{$site_name}</title> 
  <meta name="apple-mobile-web-app-capable" content="yes" /> 
  <meta name="apple-touch-fullscreen" content="yes" /> 
  <meta name="full-screen" content="no" /> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
  <meta name="format-detection" content="telephone=no" /> 
  <meta name="format-detection" content="address=no" /> 
  <script src="__STATIC__/weixin/js/viewport.js"></script> 
  <link href="__STATIC__/weixin/css/common.css" rel="stylesheet" /> 
  <script src="__STATIC__/weixin/plug/jquery/jquery-1.10.2.min.js"></script> 
  <script src="__STATIC__/weixin/js/common.js"></script> 
 </head> 
 <body> 
  <div class="chooseCity"> 
   <div class="title">
    <img src="__STATIC__/weixin/img/txt-xzcs.png" />
   </div> 
   <ul class="cf"> 
    <volist name="city" id="vo">
    <li> <a <eq name="vo.is_open" value="1">href="{:U('Trainer/index',array('mc_id'=>$vo[mc_id]))}" </eq>> 
     <img src="{$vo.img_url}" /> 
     <p class="open"><span>{$vo.city_name}</span>
     <b style="display: block;">{$vo.remark}</b></p> </a> </li> 
    </volist>
    
   </ul> 
  </div>  
 </body>
</html>