<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <title>订单详情</title> 
  <meta name="apple-mobile-web-app-capable" content="yes" /> 
  <meta name="apple-touch-fullscreen" content="yes" /> 
  <meta name="full-screen" content="no" /> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
  <meta name="format-detection" content="telephone=no" /> 
  <meta name="format-detection" content="address=no" /> 
  <script src="__STATIC__/weixin/js/viewport.js"></script> 
  <link href="__STATIC__/weixin/css/common.css" rel="stylesheet" /> 
  <script src="__STATIC__/weixin/js/jquery-1.10.2.min.js"></script> 
  <script src="__STATIC__/weixin/js/common.js"></script> 
 </head> 
 <body> 
  <div class="dingCoach"> 
   <div class="coachTop"> 
    <h3><img src="__STATIC__/weixin/img/txt-ddqr1.png" /></h3> 
    <h4><span>{$info.trainer_name}</span><b>{$info.teaching_type}</b></h4> 
    <p class="star_32x22">
     <s class="star{$info.trainer_id|getStar}"></s></p> 
    <div class="imgbg">
    
     <img src="{$info.avatar}" /> 
    </div> 
    <a href="javascript:history.go(-1);" class="back"></a> 
   </div> 
   <div class="form"> 
    <ul> 
     <li> <label>预约时间</label> 
      <volist name="info[time_text]" id="vo">
     	 <input type="text" readonly="" value="{$vo}" /> 
      </volist>
      
      </li> 
     <li> <label>训练人数 </label> 
       <i class="active calculate">{$info.train_person}人</i>
     </li> 
     <li> <label>训练地点</label> <input type="text" readonly value="{$info.place}" /> </li> 
     <li> <label>我的电话</label> <input type="text" value="{$info.phone}" readonly /> </li>
     <li> <label>下单时间</label> <input type="text" value="{$info.add_time|date='Y-m-d H:i:s',###}" readonly /> </li> 
     <li> <label>状态</label>
     <label>
      <eq name="info.status" value="0"><span style="color:red">未支付</span></eq>
       <eq name="info.status" value="1"><span style="color:blue">已支付</span></eq>
        <eq name="info.status" value="2"><span style="color:green">服务中</span></eq>
        <eq name="info.status" value="3"><span style="color:green">已完成</span></eq>
        <eq name="info.status" value="-1"><span>已取消</span></eq>
        </label>
     </li> 
     <li> <label>留言</label> <label>{$info.message}</label></li> 
     <li class="row"> <p class="cf"> <label>实付</label> <input type="text" value="{$info.total_fee}元" readonly="" id="actual_pay" /> </p> </li> 
    </ul> 
   </div> 
   <eq name="info.status" value="3">
     <div class="feedback"> 
	    <div class="textarea cf"> 
	     <textarea class="content" name="feedback" rows="" maxlength="" cols="" placeholder="请输入评价内容"></textarea> 
	     <p>还可以输入<b>10</b>字</p>
	      
	    </div> 
	    <div style="padding:10px 0px 0px 30px;font-size:20px" ><span>评分:</span>
	     <label><input type="radio" name="star" value="5" />好评</label>
	     <label><input type="radio" name="star" value="3"  />中评</label>
	     <label><input type="radio" name="star" value="1" />差评</label>
	    </div>
	    <a class="btn03 disabled">评价</a> 
	    <button class="btn03" style="display: none;">评价</button> 
  	</div>  
    </eq>
  </div>  
  <script type="text/javascript">
  wordLimit();
  $(".btn03").click(function(){
      var text = $('.content').val();
      var star =  $("input[name='star']:checked").val();
      var trainerid = '{$info.trainer_id}';
      if(text == ''){
          alert('请输入评价内容');
          return false;
      }
      if(star == null){
    	  alert('请选择评分哦');
          return false;
      }
      
      $.post("{:U('User/comment')}",{content:text,star:star,id:trainerid},function(data){
      	if(data.status){
      		alert(data.msg);
      	}else{
      		alert(data.msg);
      	}
      },'json')
  });
</script> 
 </body>
</html>